<!-- Footer -->
<footer class="footer">
    <p>&copy; 2024 Test App. All rights reserved.</p>
    <p>Contact us at -<a href="https://www.instagram.com/_pravin_drdz_/">support@Testapp.com</a></p>
    <p>Created by -<a href="https://www.instagram.com/_pravin_drdz_/" style="margin-right: 10px;">Pravin Gondane. (Prash)</a>Styding At -<a href="http://www.gpbeed.ac.in/">Goverment Polytecnic, Beed</a> (CM5I)</p>
    <div>
      <a href="https://www.instagram.com/_pravin_drdz_/" class="btn btn-outline-light btn-sm me-2">
        <i class="fab fa-instagram"></i> Instagram
      </a>
      <a href="https://github.com/Prash686" class="btn btn-outline-light btn-sm me-2">
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="https://www.linkedin.com/in/pravin-gondane-b734432a8/" class="btn btn-outline-light btn-sm me-2">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
      
    </div>
  </footer>