<style>
   
    /* Make sure the logo scales properly */
.navbar-logo {
    max-width: auto;        /* Ensures the logo doesn't exceed the container's width */
    height: 60px;           /* Keeps the aspect ratio intact */
    width: auto;           /* Adjust this based on your preference */
}

/* Optional: Adjust the logo size on smaller screens */
@media (max-width: 767px) {
    .navbar-logo {
        width: 60px; /* Reduce size on small screens */
    }
}

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="/images/logo.png" alt="Logo" class="navbar-logo">
          <samp style="margin-left: 10px;">TestApp</samp> 
      </a>    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="/"><i class="fas fa-home nav-i"></i> Home</a>
                <a class="nav-link" href="/#features"><i class="fas fa-list nav-i"></i> Features</a>
                <a class="nav-link" href="/TestApp/practice"><i class="fas fa-pen nav-i"></i> Practice</a>
                <a class="nav-link" href="/TestApp/test"><i class="fas fa-clipboard nav-i"></i> Test</a>
                <a class="nav-link" href="/subjects"><i class="fas fa-book nav-i"></i> Subjects</a>
                <a class="nav-link" href="/courses"><i class="fas fa-graduation-cap nav-i"></i> Courses</a>
  <a class="nav-link" href="/about"><i class="fas fa-info-circle nav-i"></i> About</a>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user nav-i"></i> Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                      
                          <li><a class="dropdown-item" href="/auth/login">Login</a></li>
                          <li><a class="dropdown-item" href="/auth/signup">Sign Up</a></li>
                      
                      
                    </ul>
                </div>
  
            </div>
        </div>
    </div>
  </nav>