<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
         Test App
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/"><i class="fas fa-home nav-i"></i> Home</a>
              <a class="nav-link" href="/#features"><i class="fas fa-list nav-i"></i> Features</a>
              <a class="nav-link" href="/TestApp/practice"><i class="fas fa-pen nav-i"></i> Practice</a>
              <a class="nav-link" href="/TestApp/test"><i class="fas fa-clipboard nav-i"></i> Test</a>
              <a class="nav-link" href="/subjects"><i class="fas fa-clipboard nav-i"></i> Subjects</a>
              <a class="nav-link" href="/courses"><i class="fas fa-clipboard nav-i"></i> Courses</a>
              <a class="nav-link" href="/about"><i class="fas fa-info-circle nav-i"></i> About</a>
          </div>
      </div>
  </div>
</nav>
