<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestApp</title>
</head>
<body>
    <h3>Add questions</h3>
    <form method="POST" action="/">
        <input name="Subject" placeholder="Enter subjest" type="text">
        <br>
        <textarea name="Question" placeholder="Enter Question" type="text"> Enter Question</textarea>
        <br>
        <input name="Option1" placeholder="Enter Option" type="text">
        <br>
        <input name="Option2" placeholder="Enter Option" type="text">
        <br>
        <input name="Option3" placeholder="Enter Option" type="text">
        <br>
        <input name="Option4" placeholder="Enter Option" type="text">
        <br>
        <input name="Answer" placeholder="Enter Answer" type="text">
        <br>
        <input name="Marks" placeholder="Enter Marks" type="number">
        <br>
        <input name="Topic" placeholder="Enter Topic" type="text">
        <br>
        <button>Add</button>
    </form>
</body>
</html>