#question-container {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

#question-container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: #3c2559;
  border-color: #3c2559;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #2a1a41;
  border-color: #241438;
}

.modal-content {
  border-radius: 1rem;
}

.modal-header {
  background-color: #3c2559;
  color: #fff;
}

.modal-body {
  font-size: 1.1rem;
  color: #3c2559;
}

.modal-footer .btn {
  font-size: 1rem;
  background-color: #3c2559;
  border-color: #3c2559;
}

.modal-footer .btn:hover {
  background-color: #2a1a41;
  border-color: #241438;
}

#jump-to-input {
  max-width: 80px;
}

#prev-btn, #next-btn, #submit-btn, #jump-btn {
  margin-left: 5px;
  margin-right: 5px;
}

label[for="jump-to-input"] {
  font-weight: 500;
  font-size: 1rem;
}

@media (max-width: 770px) {
  .btn-group {
    flex-wrap: wrap;
  }

  .d-flex {
    flex-direction: column;
    align-items: stretch;
  }

  #jump-lable {
    margin: 0px 30px 0px 25px;
  }

  #jump-to-input {
    font-size: 22px;
    margin: 0px 30px 0px 25px;
  }

  #jump-btn {
    margin: 0px 25px;
  }

  #next-submit-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  #prev-btn, #next-btn, #submit-btn {
    margin: 10px 10px;
    width: auto;
  }
}
