#question-container {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }

  #question-container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .btn-primary {
    background-color: #3c2559;
    border-color: #3c2559;
    transition: background-color 0.2s ease;
  }

  .btn-primary:hover {
    background-color: #2a1a41;
    border-color: #241438;
  }

  .btn-success {
    background-color: #3c2559;
    border-color: #3c2559;
    transition: background-color 0.2s ease;
  }

  .btn-success:hover {
    background-color: #2a1a41;
    border-color: #241438;
  }

  .modal-content {
    border-radius: 1rem;
  }

  .modal-header {
    background-color: #3c2559;
    color: #fff;
  }

  .modal-body {
    font-size: 1.1rem;
    color: #3c2559;
  }

  .modal-footer .btn {
    font-size: 1rem;
    background-color: #3c2559;
    border-color: #3c2559;
  }

  .modal-footer .btn:hover {
    background-color: #2a1a41;
    border-color: #241438;
  }

  h3 {
    color: #3c2559;
  }

  p {
    color: #3c2559;
  }

  label {
    color: #3c2559;
  }

  .form-check-input:checked {
    background-color: #3c2559;
    border-color: #3c2559;
  }