<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/css/courses.css">
<section id="cards" class="container">
  <h2 class="text-center mb-4">Please Select Course</h2>
  <div class="card-container row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-3">
    <% for (let course of allCourses) { %>
    <div class="card" onclick="window.location.href='/courses/<%= course.title %>'">
      <img src="<%= course.image %>" alt="Practice Image">
      <h3><%= course.title %></h3>
    </div>
    <% } %>
  </div>
</section>