<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/css/practice.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

<div class="container mt-5" style="min-height: 70vh;">
  <h1 class="text-center mb-3 animate__animated animate__fadeInDown">MSBTE model questions for <%= subjectName %> </h1>
  <p class="text-center mb-4 animate__animated animate__fadeIn animate__delay-1s">MSBTE I-scheme MCQs 2025. Practice and improve your knowledge with free online tests.</p>
  <h3 class="text-center mb-4 animate__animated animate__fadeInUp animate__delay-2s">Question <span id="question-number">1</span> of <%= allquestions.length %></h3>

  <input type="hidden" id="questions-data" value='<%- JSON.stringify(allquestions).replace(/'/g, "&#39;") %>'>

  <form method="GET" action="/submit">
    <div id="question-container" class="bg-white p-4 rounded shadow-lg mb-4 animate__animated animate__zoomIn"></div>

    <div class="btn-group d-flex justify-content-between align-items-center mb-3 animate__animated animate__fadeInUp animate__delay-1s">
      <div id="next-submit-buttons" class="d-flex justify-content-center">
        <button type="button" id="prev-btn" class="btn btn-primary btn-lg" disabled>Previous</button>
        <button type="button" id="next-btn" class="btn btn-primary btn-lg mx-2">Next</button>
        <button type="button" id="submit-btn" class="btn btn-primary btn-lg">Submit</button>
      </div>
      <div class="d-flex align-items-center">
        <label for="jump-to-input" class="form-label mx-2 mb-0" id="jump-lable"><b>Jump to Question:</b></label>
        <input type="number" id="jump-to-input" class="form-control mx-2" min="1" max="<%= allquestions.length %>" placeholder="Q#">
        <button type="button" id="jump-btn" class="btn btn-primary btn-lg">Go</button>
      </div>
    </div>
  </form>

  <!-- Modal -->
   <div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered animate__animated animate__fadeIn" role="document">
      <div class="modal-content rounded-3 shadow-lg">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Result</h5>
          <button type="button" class="btn-close" id="modal-close" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center" id="modal-body-content">
          <!-- Dynamic content will be inserted here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="modal-close-btn">Close</button>
        </div>
      </div> 
    </div>
  </div>
</div>

<script src="/js/practice.js"></script>
